.dropdown-header {
    color: #2c2f88;
}
.container-fluid {
    padding: 0;
    width: 90vw;
    margin: auto;
}
/* Divs vacíos para probar el sticky */
.black-bg {
    background-color: black;
    height: 50vh;
    width: 100%;
}
.gray-bg {
    background-color: gray;
    height: 50vh;
    width: 100%;
}

footer {    
    background-color: #231f20;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 5vw;
}
.footer-div {
    flex: 1;
    min-width: 120px;
}
.footer-div-left {
    flex: 2;
    min-width: 300px;
}
footer a{
    color: white;
    text-decoration: none;
}
.subfooter {
    width: 100vw;
    text-align: center;
}
.social-icon {
    margin-right: 4px;
}

.map {
    text-align: center;
    min-width: 300px;
}
.footer-title {
    margin-top: 36px;
}
.subfooter {
    margin-bottom: 40px;
    width: 80vw;
    margin: auto;
}
