.dropdown-header {
    color: #2c2f88;
}
.navbar {
    padding-left: 5vw;
    padding-right: 5vw;
}
/* Divs vacíos para probar el sticky */
.black-bg {
    background-color: black;
    height: 50vh;
    width: 100%;
}
.gray-bg {
    background-color: gray;
    height: 50vh;
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #231f20;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-div {
    flex: 1;
    margin: 40px;
}
.footer-div-left {
    flex: 2;
}
footer a{
    color: white;
    text-decoration: none;
}
.subfooter {
    width: 100vw;
    text-align: center;
}
.social-icon {
    margin-right: 4px;
}

.map {
    text-align: center;
    min-width: 300px;
}
.footer-title {
    margin-top: 36px;
}
.subfooter {
    margin-bottom: 40px;
    width: 80vw;
    margin: auto;
}
